.itinerary-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: #ffffff;
  box-sizing: border-box;
}

.timeline {
  display: flex;
  flex-direction: relative;
}

/* Left hour column */
.time-column {
  width: 100px;
  margin-right: 10px;
}

/* Hour slots */
.time-slot {
  height: 100px;
  border-bottom: 1px solid #505050;
  padding-top: 4px;
  padding-left: 10px;
  color: #535353;
  font-size: 20px;
  font-weight: 500;
}

/* Event card column */
.events-column {
  flex-grow: 1;
  position: relative;
}

.event-button {
  width: 100%;
  text-align: left;
  background: none;
}

/* ensures event-card styling stays intact */
.event-card {
  position: absolute;
  z-index: 1;
  width: 110%;
  padding: 8px 20px;
  border-radius: 12px;
  margin-bottom: 16px;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.event-title {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.event-time {
  margin-top: 4px;
  font-size: 16px;
  color: #666;
}
/* Date Header Bar */
.date-bar{
width: 100%;
position: sticky;
top: 0px;
height: 52px;
z-index: 10000;
padding: 5px 5px;
text-align: center;
background: #FFFFFF;
display: absolute;
align-items: center;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
border-bottom: #000000 2px solid;
}

/* Add Event Button */
.add-event-button {
  background-color: #999999;
  z-index: 1000;
  color: white;
  cursor: pointer;
  font-size: 14px;
  float: right;
  border-radius: 10px;
  position: sticky;
  top: 70px;
  right: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
  border: #000000 1px solid;
}

/* Sub-navigation Bar */
.sub-nav-bar {
position: absolute;
width: 200px;
height: 50px;
left: 100px;
top: 0px;
border-left: #000000 2px solid;
border-right: #000000 2px solid;
cursor: pointer;
font-size: 30px;

background: #B6CEB4;


}
