.itinerary-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: #ffffff;
  box-sizing: border-box;
}

.timeline {
  display: flex;
  flex-direction: relative;
}

/* Left hour column */
.time-column {
  width: 100px;
  margin-right: 10px;
}

/* Hour slots */
.time-slot {
  height: 100px;
  border-bottom: 1px solid #505050;
  padding-top: 4px;
  padding-left: 10px;
  color: #535353;
  font-size: 20px;
  font-weight: 500;
}

/* Event card column */
.events-column {
  flex-grow: 1;
  position: relative;
}

.event-button {
  width: 100%;
  text-align: left;
  background: none;
}

/* ensures event-card styling stays intact */
.event-card {
  position: absolute;
  z-index: 1;
  width: 110%;
  padding: 8px 20px;
  border-radius: 12px;
  margin-bottom: 16px;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.event-title {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.event-time {
  margin-top: 4px;
  font-size: 16px;
  color: #666;
}

/* Add Event Button */
.add-event-button {
  background-color: #999999;
  z-index: 1001;
  color: white;
  cursor: pointer;
  font-size: 14px;
  float: right;
  border-radius: 10px;
  position: sticky;
  top: 70px;
  right: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
  border: #000000 1px solid;
}
/* Date Header Bar */
.date-bar{
display: flex;
overflow-x: auto;
white-space: nowrap;
scroll-behavior: smooth;
width: 100%;
position: sticky;
top: 0px;
height: 52px;
z-index: 999;
padding: 5px 5px;
text-align: center;
background: #FFFFFF;
display: flex;
align-items: center;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
border-bottom: #000000 2px solid;
}

/* Date Tabs */
.date-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}
/* Date tab */
.day-tab {
  flex: 1;
  border: 2px solid black;
  font-size: 20px;
  background: white;
  cursor: pointer;
}

/* Active date tab */
.day-tab.active {
  background: #B6CEB4;
  font-weight: bold;
}

.date-scroll::-webkit-scrollbar {
  display: none;              /* Chrome */
}
.date-scroll {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;      /* Firefox */
}
.date-item {
  padding: 10px 20px;
  white-space: nowrap;
  font-size: 18px;
  border-radius: 8px;
  transition: 0.25s;
}

.date-item.active {
  background: #e0e0e0;
  font-weight: bold;
}