.top-nav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
  padding: 12px 16px;
  gap: 12px;
}

.back-button {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  padding: 10px 15px;
  background: #010c0c00;
  border: 2px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  justify-self: start;
  width: fit-content;
  margin-left: -10px;
}

.back-button:hover {
  background: #f3aaaa;
  color: #000000;
}

.back-button:active {
  background: #8fb08d;
}

.top-nav-title {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 45px;
  color: #000000;
  margin: 0;
  text-align: center;
  grid-column: 2;
}

.btn-logout {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background: #010c0c00;
  border: 2px solid #000000;
  border-radius: 5px;
  padding: 8px 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  justify-self: end;
  margin-right: -10px;
}

.btn-logout:hover {
  background: #f3aaaa;
  border: 2px solid #000000;
}

.btn-logout:active {
  background: #b6caac;
}